<div class="flex space-between">
    <h2>Tareas</h2>
    <a routerLink="/tasks/new"><button class="primary">Nueva tarea</button></a>
</div>


<table class="table card">
    <thead>
        <tr>
            <th>Título</th>
            <th>Estado</th>
            <th>Creación</th>
            <th>Fecha límite</th>
            <th>Proyecto</th>
            <th>Empleado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of rows()">
            <td>{{ t.title }}</td>
            <td><app-badge [text]="t.status" [kind]="$any(t.status.toLowerCase().replace(' ', '-'))"></app-badge>
            </td>
            <td>{{ t.createdAt | date:'shortDate' }}</td>
            <td>{{ t.dueDate ? (t.dueDate | date:'shortDate') : '—' }}</td>
            <td>{{ t.projectId ? (projects.getById(t.projectId)?.name || '—') : '—' }}</td>
            <td>{{ t.employeeId ? (employees.getById(t.employeeId)?.fullName || '—') : '—' }}</td>
            <td>
                <a [routerLink]="['/tasks', t.id, 'edit']">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="rows().length === 0">No hay tareas aún.</p>